body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}


@font-face {
  font-family: 'Cera Pro Regular';
  src: url('./utils/fonte/Cera Pro Regular.otf') format('opentype');
}

* {
  font-family: 'Cera Pro Regular', sans-serif !important;
}
